<article>
  <h3>
    <%= provider.name %>
  </h3>
  <dl>
    <dt><%= 'provider.identifier'.t %></dt>
    <dd><%= provider.identifier %></dd>
    <% if provider.scope.present? %>
      <dt><%= 'provider.scope'.t %></dt>
      <dd><%= provider.scope %></dd>
    <% end %>
    <% [:authorization_endpoint, :token_endpoint, :check_id_endpoint, :user_info_endpoint].each do |key| %>
      <dt><%= "provider.#{key}".t %></dt>
      <dd><%= provider.send key %></dd>
    <% end %>
  </dl>
  <nav>
    <%= link_to 'providers.edit.title'.t, edit_provider_path(provider) %>
  </nav>
</article>