<section>
  <h2><%= 'providers.index.title'.t %></h2>
  <% @providers.each do |provider| %>
    <%= render provider %>
  <% end %>
  <nav>
    <%= form_tag new_provider_path, method: :get do %>
      <%= text_field_tag :host, nil, placeholder: 'provider.example.com', required: true %>
      <%= submit_tag 'providers.discover'.t %>
    <% end %>
  </nav>
</section>