<article>
  <h2><%= 'top.title'.t %></h2>
  <p><%= 'top.description'.t %></p>
  <nav class="connect">
    <ul>
      <% Provider.listable.all.each do |provider| %>
        <li>
          <%= form_tag provider_open_id_path(provider) do %>
            <%= submit_tag 'open_ids.create.title'.t(provider: provider.name) %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div class="notice">
      <p>If your Connect provider isn't above, discover it by its OP identifier.</p>
      <%= form_tag providers_path do %>
        <%= text_field_tag :host, nil, placeholder: 'connect-op.heroku.com' %>
        <%= submit_tag 'providers.create.title'.t %>
      <% end %>
    </div>
  </nav>
</article>