<%= javascript_include_tag 'http://webintents.org/webintents.js' %>

<article>
  <h2><%= 'top.title'.t %></h2>
  <p><%= 'top.description'.t %></p>
  <nav class="connect">
    <ul>
      <% Provider.listable.all.each do |provider| %>
        <li>
          <%= form_tag provider_open_id_path(provider) do %>
            <%= submit_tag 'open_ids.create.title'.t(provider: provider.name) %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div class="notice">
      <p>If your Connect provider isn't above, discover it by its OP identifier.</p>
      <%= form_tag providers_path do %>
        <%= text_field_tag :host, nil, placeholder: 'connect-op.heroku.com' %>
        <%= submit_tag 'providers.create.title'.t %>
      <% end %>
      <p class="intent"><%= submit_tag 'Or Try WebIntents?', :id => 'intent' %></p>
    </div>
  </nav>
</article>

<script>
  $(function () {
    $('#intent').click(function () {
      var intent = new Intent(
        "http://openid.net/connect/webintents",
        "application/json"
      );
      window.navigator.startActivity(intent, function (result) {
        console.info(result);
        $('.connect').append(
          $('<pre />').append(
            JSON.stringify(result, null, 2)
          )
        );
      });
    });
  });
</script>